<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>left</title>
    <style>
        .left-nav a {
            display: block;
            color: #181717;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .left-nav a:hover {
            transition: ease-in-out 0.25s;
            background-color: #1c74df;
            color: #ffffff;
        }
    </style>
</head>
<body>
<div class="left-nav">
    <p><a href="SubmissionStatus.html" th:href="@{/SubmissionStatus}" target="mainFrame">提交情况</a></p>
    <p><a href="GoodsManagement.html" th:href="@{/GoodsManagement}" target="mainFrame">货物管理</a></p>
    <p><a href="EmployeeSalary.html" th:href="@{/EmployeeSalary}" target="mainFrame">员工工资</a></p>
    <p><a href="EmployeeInformation.html" th:href="@{/EmployeeInformation}" target="mainFrame">员工信息</a></p>
    <p><a href="" th:href="@{/changePassword}" target="mainFrame">修改密码</a></p>
    <p><a href="" th:href="@{/logout}" target="_parent">退出登录</a></p>
</div>
</body>
</html>

 